<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    {% if page.meta-description %}
    <meta class="description" content="{{page.meta-description}}">
    {% endif %}
    <title>{{page.title}} - {{site.title}}</title>
    <link rel="stylesheet" href="/assets/styles/site.css" />
  </head>
  <body class="layout-{{page.layout}} page-{{page.title | slugify}}">

    <div class="site">
      <header class="site-header">
        <h1 class="site-title">{{ site.title }}</h1>

        {% include navigation.html %}

      </header> 