<form action="#" class="contact">
    
        <fieldset>
          <legend>User details:</legend>
          
          <div class="field text icon-username">
              <input type="text" id="name" required>
              <i class="fa fa-user"></i>  
              <label for="name">Full name: </label>
              <span class="helper">Hello there</span>
          </div>
          
          <div class="field text icon-email">
              <input type="email" id="email" required>
              <label for="email">Email: </label>
              <i class="fa fa-envelope"></i>  
          </div>
        </fieldset>
      
        <fieldset>
          <legend>Message:</legend>

          
          <div class="field text icon-email">
            <input type="text" id="subject" required>
            <label for="subject">Subject: </label>
            <i class="fa-solid fa-angle-right"></i>  
        </div>

          
          <div class="field text textarea">
            <textarea></textarea>
            <label for="password">Message:</label>
            <i class="fa-solid fa-file-lines"></i>  
          </div>
          
        </fieldset>
        
        <input type="submit" value="Send">
        
</form>